@import 'mixins';

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/Poppins/Poppins-Regular.ttf') format('truetype');
}

:root {
  --color-black: #2c3e50;
  --color-white: #ffffff;
  --color-green: #8ff7a7;
  --color-active-link: #005bf8;
  --color-blue: #112378;
  --color-dark-yellow: #eeb200;
  --color-yellow: #fbeccf;
  --color-red: #f64a00;
  --color-purple: #502f7e;
  --color-light-purple: #7543bb;

  --primary-color: var(--color-blue);
  --primary-color-light: var(--color-light-purple);
  --active-color: var(--color-yellow);
  --background-color: var(--color-yellow);

  --primary-linear-gradient: linear-gradient(to bottom, var(--primary-color) 0.0001%, var(--background-color) 99%);

  --no-space: 0rem;
  --extra-small-space: 0.5rem;
  --small-space: 1rem;
  --medium-space: 1.5rem;
  --large-space: 2rem;
  --extra-large-space: 2.5rem;

  --smaller-font-size: 1.4vh;
  --standard-font-size: 1.8vh;
  --bigger-font-size: 2.2vh;
  --h1-font-size: 3vh;
  --icon-font-size: 2.4vh;

  --standard-border: solid 0.2vh var(--color-black);
  --primary-border: solid 0.2vh var(--primary-color);
  --standard-border-radius: 0.8vh;

  --max-width: 80vw;
}

* {
  margin: 0;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-size: var(--standard-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  color: var(--primary-color);
  background-color: var(--background-color);
}

body {
  width: 100%;
}

#app {
  text-align: center;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  align-items: center;
  @include media-query-phone {
    max-width: 90vw;
  }
}

.mx-0 {
  margin-left: var(--no-space);
  margin-right: var(--no-space);
}

.mx-1 {
  margin-left: var(--extra-small-space);
  margin-right: var(--extra-small-space);
}

.mx-2 {
  margin-left: var(--small-space);
  margin-right: var(--small-space);
}

.mx-3 {
  margin-left: var(--medium-space);
  margin-right: var(--medium-space);
}

.mx-4 {
  margin-left: var(--large-space);
  margin-right: var(--large-space);
}

.mx-5 {
  margin-left: var(--extra-large-space);
  margin-right: var(--extra-large-space);
}

.ml-0 {
  margin-left: var(--no-space);
}

.ml-1 {
  margin-left: var(--extra-small-space);
}

.ml-2 {
  margin-left: var(--small-space);
}

.ml-3 {
  margin-left: var(--medium-space);
}

.ml-4 {
  margin-left: var(--large-space);
}

.ml-5 {
  margin-left: var(--extra-large-space);
}

.mr-0 {
  margin-right: var(--no-space);
}

.mr-1 {
  margin-right: var(--extra-small-space);
}

.mr-2 {
  margin-right: var(--small-space);
}

.mr-3 {
  margin-right: var(--medium-space);
}

.mr-4 {
  margin-right: var(--large-space);
}

.mr-5 {
  margin-right: var(--extra-large-space);
}

.my-0 {
  margin-top: var(--no-space);
  margin-bottom: var(--no-space);
}

.my-1 {
  margin-top: var(--extra-small-space);
  margin-bottom: var(--extra-small-space);
}

.my-2 {
  margin-top: var(--small-space);
  margin-bottom: var(--small-space);
}

.my-3 {
  margin-top: var(--medium-space);
  margin-bottom: var(--medium-space);
}

.my-4 {
  margin-top: var(--large-space);
  margin-bottom: var(--large-space);
}

.my-5 {
  margin-top: var(--extra-large-space);
  margin-bottom: var(--extra-large-space);
}

.mb-0 {
  margin-bottom: var(--no-space);
}

.mb-1 {
  margin-bottom: var(--extra-small-space);
}

.mb-2 {
  margin-bottom: var(--small-space);
}

.mb-3 {
  margin-bottom: var(--medium-space);
}

.mb-4 {
  margin-bottom: var(--large-space);
}

.mb-5 {
  margin-bottom: var(--extra-large-space);
}

.mt-0 {
  margin-top: var(--no-space);
}

.mt-1 {
  margin-top: var(--extra-small-space);
}

.mt-2 {
  margin-top: var(--small-space);
}

.mt-3 {
  margin-top: var(--medium-space);
}

.mt-4 {
  margin-top: var(--large-space);
}

.mt-5 {
  margin-top: var(--extra-large-space);
}

.px-0 {
  padding-left: var(--no-space);
  padding-right: var(--no-space);
}

.px-1 {
  padding-left: var(--extra-small-space);
  padding-right: var(--extra-small-space);
}

.px-2 {
  padding-left: var(--small-space);
  padding-right: var(--small-space);
}

.px-3 {
  padding-left: var(--medium-space);
  padding-right: var(--medium-space);
}

.px-4 {
  padding-left: var(--large-space);
  padding-right: var(--large-space);
}

.px-5 {
  padding-left: var(--extra-large-space);
  padding-right: var(--extra-large-space);
}

.pl-0 {
  padding-left: var(--no-space);
}

.pl-1 {
  padding-left: var(--extra-small-space);
}

.pl-2 {
  padding-left: var(--small-space);
}

.pl-3 {
  padding-left: var(--medium-space);
}

.pl-4 {
  padding-left: var(--large-space);
}

.pl-5 {
  padding-left: var(--extra-large-space);
}

.pr-0 {
  padding-right: var(--no-space);
}

.pr-1 {
  padding-right: var(--extra-small-space);
}

.pr-2 {
  padding-right: var(--small-space);
}

.pr-3 {
  padding-right: var(--medium-space);
}

.pr-4 {
  padding-right: var(--large-space);
}

.pr-5 {
  padding-right: var(--extra-large-space);
}

.py-0 {
  padding-top: var(--no-space);
  padding-bottom: var(--no-space);
}

.py-1 {
  padding-top: var(--extra-small-space);
  padding-bottom: var(--extra-small-space);
}

.py-2 {
  padding-top: var(--small-space);
  padding-bottom: var(--small-space);
}

.py-3 {
  padding-top: var(--medium-space);
  padding-bottom: var(--medium-space);
}

.py-4 {
  padding-top: var(--large-space);
  padding-bottom: var(--large-space);
}

.py-5 {
  padding-top: var(--extra-large-space);
  padding-bottom: var(--extra-large-space);
}

.pb-0 {
  padding-bottom: var(--no-space);
}

.pb-1 {
  padding-bottom: var(--extra-small-space);
}

.pb-2 {
  padding-bottom: var(--small-space);
}

.pb-3 {
  padding-bottom: var(--medium-space);
}

.pb-4 {
  padding-bottom: var(--large-space);
}

.pb-5 {
  padding-bottom: var(--extra-large-space);
}

.pt-0 {
  padding-top: var(--no-space);
}

.pt-1 {
  padding-top: var(--extra-small-space);
}

.pt-2 {
  padding-top: var(--small-space);
}

.pt-3 {
  padding-top: var(--medium-space);
}

.pt-4 {
  padding-top: var(--large-space);
}

.pt-5 {
  padding-top: var(--extra-large-space);
}
