@import '../../fonts/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'SF Mono', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.code-gif {
  background-image: url('../../../assets/source.gif');
  background-repeat: no-repeat;
}

.transition-opacity {
  transition: opacity 250ms ease-in-out;
}
